@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}

<div class="main-content">
    <div class="content-page">
        <div data-aos="fade-up" data-aos-duration="1000">
            <h3 class="text-center font-weight-bold">TỔNG QUAN VỀ CÔNG TY</h3>
            <p class="text-center pb-5">“Công ty chuyên bán laptop với mọi mức giá kèm ưu đãi cho khách hàng , dịch vụ chu đáo , sản phẩm đảm bảo chính hãng với nhiều thương hiệu lớn , hiện đang hoạt động với sự tín nhiệm của khách hàng là 100% .Với nhiều năm hoạt động trong lĩnh vực bán laptop 
            , sẽ có các ưu đãi đối với khách hàng VIP . Như các dịch vụ bảo hành free , các phiếu giảm giá cực khủng cho quý khách hàng có lịch sử mua hàng cao nhất tháng”</p>
        </div>
       
            
        </div>
        <div style="padding: 70px 0" data-aos="fade-up" data-aos-duration="800">
            <h3 class="text-center font-weight-bold">HỆ THỐNG CỬA HÀNG</h3>
            <p class="text-center">Cửa hàng đã hoạt động được 15 năm và hiện tại đang phát triển thêm vài chi nhánh</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="img-item">
                        <img src="/Images/cty1.jpg" class="d-block w-100" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-item">
                        <img class="d-block w-100" src="/Images/cty2.jpg" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-item">
                        <img class="d-block w-100" src="/Images/cty3.jpg" />
                    </div>
                </div>
            </div>
            <p class="text-center mt-5">77 Quốc lộ 1A, Khu phố 2,Phường Hiệp Bình Phước, TP.Thủ đức</p>
        </div>
    </div>

</div>
